form {
    /* border-style: solid; */
    background-color: #171717;
    display: flex;
    column-gap: 10px;
    padding: 5px;
    flex-direction: column;
}

label {
    color: white;
}

.labelledInput {
    display: flex;
    column-gap: 5px;
}
